
*.cs linguist-detectable=true 
*.html linguist-detectable=false 
*.js linguist-detectable=false 
*.html linguist-detectable=false 
*.css linguist-detectable=false 
/Content/*.css linguist-detectable=false 
/Views/*.html linguist-detectable=false
