body {
    padding-top: 0px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

#panel_talentos {
    height: 80%;
    overflow: auto
}

.wrapper {
    height: 1000px;
}

.dropdown-toggle::after {
    right: 1!important;
    margin-left: 50%!important;
}

.user-logo {
    background-image: url(https://cdn.suwalls.com/wallpapers/abstract/colored-drops-16986-1920x1200.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}