@{
    ViewBag.Title = "Início Link Dev";
}
<link href="~/Content/CssApp/Index.css" rel="stylesheet" />
<div class="header">
    <h1>My Website</h1>
    <p>A <b>responsive</b> website created by me.</p>
</div>