@{
    ViewBag.Title = "Início Link Dev";
}
<link href="~/Content/CssApp/Index.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div id="cont_index" class="style-1">
    <div class="header">
        <h1 class="white_font" style="white-space: nowrap" >Ramon Xavier</h1>
        <hr/>
        <h4><p>Um novo <b>modelo</b> de <code><span id="tag_titulo">profissionalismo.</span></code> </p></h4>

        @for (int i = 0; i <= 4; i++)
        {
            <i class="fa fa-star fa-3" aria-hidden="true"></i>
        }
    </div>
    <div id="desc_div">
        <h2 class="card-title center_text">Entenda melhor quem sou eu:</h2>
        <p class="card-text center_text desc_index">
            Um profissional mineiro, casado, grande entusiasta de tecnologia, <u>amante de novos desafios</u>,
            com instinto empreendedor na veia e motivacional diferenciado!
        </p>
        <p class="card-text center_text desc_index">
            Em todas minhas experiências profissionais, faço questão de deixar meu "legado" positivamente.
            Busco me destacar e ser uma pessoa diferenciada na equipe que estou atuando. 
            <i style="color: darkmagenta">Nunca fui o melhor, mas sempre fui <b>único</b>!</i>
        </p>
    </div>
    <hr class="hr_conteudo"/>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <center>
                <div class="col-md-12">
                    <h2 class="center_text">Projetos desenvolvidos:</h2>
                    <p>
                        Uma pequena demonstração de coisas legais que valem a pena mostrar!
                    </p>
                    <div class="carousel-item active">
                        <div class="col-md-12 card_index">
                            <div class="card" style="width: 30%;">
                                <img class="card-img-top" src="~/Content/Images/projetos/imc_flutter.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title white_font">IMC com <code>Flutter</code></h5>
                                    <p class="card-text">
                                        O presente projeto tem por finalidade a criação de um aplicativo mobile
                                        utilizando a tecnologia <code>Flutter</code>.
                                        O Aplicativo deverá realizar o cálculo de índice de massa corporal do
                                        usuário e lhe apresentar o resultado de maneira prática e fácil.
                                    </p>
                                    <a href="https://github.com/RamonXavier/Fluter_IMC" target="_blank" class="btn btn-primary"><b>Acessar repositório</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @for (int cont = 0; cont <= 4; cont++)
                    {
                        <div class="carousel-item">
                            <div class="col-md-12 card_index">
                                <div class="card" style="width: 30%;">
                                    <img class="card-img-top" src="https://image.freepik.com/vetores-gratis/monstrinho-roxo_44984-8.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title @cont </h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </center>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <hr style="background-color: white" />
    <div>
        <section class="text-center">
            <h1 class="white_font">Experiências Profissionais:</h1>
            <p>
                use <code>.text-center</code>. for display:inline elements
            </p>
        </section>
    </div>
</div>
@section scripts{
    <script>

    </script>
}
